import os, site

site.addsitedir('{{ trac.site_packages }}')

os.environ['TRAC_ENV_PARENT_DIR'] = '{{trac.projects_dir}}'
os.environ['PYTHON_EGG_CACHE'] = '{{trac.egg_cache_dir}}'

import trac.web.main
application = trac.web.main.dispatch_request

